<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpBoi.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SharpBoi.Settings1>
            <setting name="DPAD_UP" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="DPAD_DOWN" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="DPAD_LEFT" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="DPAD_RIGHT" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="A" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="START" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="SELECT" serializeAs="String">
                <value>Shift</value>
            </setting>
        </SharpBoi.Settings1>
    </userSettings>
</configuration>